body{
    background-color: var(--background-color);
}

h1{
    font-family: var(--font-heading);
    font-size: 50px;
    font-weight: 900;
    letter-spacing: .04em;

    line-height: .9;

    text-transform: uppercase;
    transform: scaleY(1.06);
    transform-origin: bottom;

    color: var(--text-color);

    overflow: hidden;
    
    text-overflow: clip;
}

h1 span{
    all: unset;
    color: var(--primary-color);
    font-size: 70px;
    vertical-align: baseline;
}

h2{
    font-family: var(--font-body);
    color: var(--primary-color);
    font-weight: 700;
    font-size: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--space-sm);
}