.hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-sm);
}

.profile-picture{
    position: relative;

    width: 15em;
    height: 18em;


    background-image: url(../../assets/images/profile/profile.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    border: 1px solid var(--muted-text-color);
}

.corner{
    position: absolute;
    width: 12px;
    height: 12px;
}

.tl{
    top: 6px;
    left: 6px;
    border-top: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.tr{
    top: 6px;
    right: 6px;
    border-top: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.bl{
    bottom: 6px;
    left: 6px;
    border-bottom: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.br{
    bottom: 6px;
    right: 6px;
    border-bottom: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
}

.location{
    font-family: var(--font-body);
    font-size: var(--font-size-sm);
    font-weight: 700;
    text-transform: uppercase;

    align-self: center;

    color: var(--primary-color);

    letter-spacing: .35em;
}

.information{
    display: inline-block;

    font-family: var(--font-body);
    font-weight: 400;
    letter-spacing: .25em;
    text-transform: uppercase;

    color: var(--text-color);

    border: 1px solid var(--muted-text-color);
}

.stage-sign{
    display: inline-block;
    padding: .01em   var(--space-xs);

    font-family: var(--font-body);
    font-size: var(--font-size-sm);
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;

    color: var(--primary-color);

    border: 1px solid var(--primary-color);

    /*Text glow*/
    text-shadow: 
    0 0 3px var(--hover-primary-color),
    0 0 6px var(--hover-primary-color),
    0 0 12px var(--hover-primary-color);

    /*Border glow*/
    box-shadow: 
    0 0 4px var(--hover-primary-color),
    inset 0 0 4px var(--hover-primary-color);

    animation: neon-flicker 2.8s infinite;
}

@keyframes neon-flicker {
    0%, 18%, 22%, 24%, 53%, 57%, 100%{
        opacity: 1;

        text-shadow: 
        0 0 3px var(--hover-primary-color),
        0 0 6px var(--hover-primary-color),
        0 0 12px var(--hover-primary-color);

        box-shadow: 
        0 0 4px var(--hover-primary-color),
        inset 0 0 4px var(--hover-primary-color);
    }
        20%, 23%, 55%{
        opacity: .85;

        text-shadow: none;
        box-shadow: none;
    }
}

.description{
    display: inline-block;

    font-family: var(--font-body);
    font-size: var(--font-size-base);
    font-weight: 700;

    color: var(--muted-text-color);
}